[program:consul]
command=consul agent -ui -config-file /etc/consul.d/consul.conf -config-dir /etc/consul.d
directory={{ consul_installer.install_dir }}
autostart=true
autorestart=true
stdout_logfile={{ consul_installer.install_dir }}/consul.log
redirect_stderr=true